<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imobpay.base.dao.TfeeDao">

	
	<sql id="paramSql">
		<!--  此处一定要增加一个查询 -->
		<if test="flFeerate !=null and flFeerate !=''">
			AND FL_FEERATE =  #{flFeerate}
		</if>
		<if test="fsFeename !=null and fsFeename !=''">
			AND FS_FEENAME =  #{fsFeename}
		</if>
		<if test="fsFeemode !=null and fsFeemode !=''">
			AND FS_FEEMODE =  #{fsFeemode}
		</if>
		<if test="fsFeefrom !=null and fsFeefrom !=''">
			AND FS_FEEFROM =  #{fsFeefrom}
		</if>
		<if test="flFee !=null and flFee !=''">
			AND FL_FEE =  #{flFee}
		</if>
		<if test="fsSerfee !=null and fsSerfee !=''">
			AND FS_SERFEE =  #{fsSerfee}
		</if>
		<if test="flFeemin !=null and flFeemin !=''">
			AND FL_FEEMIN =  #{flFeemin}
		</if>
		<if test="flFeemax !=null and flFeemax !=''">
			AND FL_FEEMAX =  #{flFeemax}
		</if>
		<if test="flFeeperiod !=null and flFeeperiod !=''">
			AND FL_FEEPERIOD =  #{flFeeperiod}
		</if>
		<if test="fsModuid !=null and fsModuid !=''">
			AND FS_MODUID =  #{fsModuid}
		</if>
		<if test="fsModtime !=null and fsModtime !=''">
			AND FS_MODTIME =  #{fsModtime}
		</if>
		<if test="fsFeeid !=null and fsFeeid !=''">
			AND FS_FEEID =  #{fsFeeid}
		</if>
	</sql>
	
	<parameterMap type="com.imobpay.base.entity.Tfee" id="paramIdTfee">
		<parameter property="pageflag"  javaType="Boolean" jdbcType="VARCHAR" mode="IN" />
		<parameter property="curPage"   javaType="Integer" jdbcType="NUMERIC" mode="IN" />
		<parameter property="pageSize"  javaType="Integer" jdbcType="NUMERIC" mode="IN" />
		<parameter property="flFeerate" javaType="Integer" jdbcType="NUMERIC" mode="IN"   />
		<parameter property="fsFeename" javaType="String" jdbcType="VARCHAR" mode="IN"   />
		<parameter property="fsFeemode" javaType="String" jdbcType="CHAR" mode="IN"   />
		<parameter property="fsFeefrom" javaType="String" jdbcType="CHAR" mode="IN"   />
		<parameter property="flFee" javaType="BigDecimal" jdbcType="NUMERIC" mode="IN"   />
		<parameter property="fsSerfee" javaType="BigDecimal" jdbcType="NUMERIC" mode="IN"   />
		<parameter property="flFeemin" javaType="BigDecimal" jdbcType="NUMERIC" mode="IN"   />
		<parameter property="flFeemax" javaType="BigDecimal" jdbcType="NUMERIC" mode="IN"   />
		<parameter property="flFeeperiod" javaType="String" jdbcType="CHAR" mode="IN"   />
		<parameter property="fsModuid" javaType="String" jdbcType="VARCHAR" mode="IN"   />
		<parameter property="fsModtime" javaType="String" jdbcType="VARCHAR" mode="IN"   />
		<parameter property="fsFeeid" javaType="String" jdbcType="VARCHAR" mode="IN"   />
	</parameterMap>

	<resultMap type="com.imobpay.base.entity.Tfee" id="resultTbTfee">
		<result column="FL_FEERATE" property="flFeerate" javaType="BigDecimal" jdbcType="NUMERIC" />
		<result column="FS_FEENAME" property="fsFeename" javaType="String" jdbcType="VARCHAR" />
		<result column="FS_FEEMODE" property="fsFeemode" javaType="String" jdbcType="CHAR" />
		<result column="FS_FEEFROM" property="fsFeefrom" javaType="String" jdbcType="CHAR" />
		<result column="FL_FEE" property="flFee" javaType="BigDecimal" jdbcType="NUMERIC" />
		<result column="FS_SERFEE" property="fsSerfee" javaType="BigDecimal" jdbcType="NUMERIC" />
		<result column="FL_FEEMIN" property="flFeemin" javaType="BigDecimal" jdbcType="NUMERIC" />
		<result column="FL_FEEMAX" property="flFeemax" javaType="BigDecimal" jdbcType="NUMERIC" />
		<result column="FL_FEEPERIOD" property="flFeeperiod" javaType="String" jdbcType="CHAR" />
		<result column="FS_MODUID" property="fsModuid" javaType="String" jdbcType="VARCHAR" />
		<result column="FS_MODTIME" property="fsModtime" javaType="String" jdbcType="VARCHAR" />
		<result column="FS_FEEID" property="fsFeeid" javaType="String" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectById" parameterMap="paramIdTfee" resultMap="resultTbTfee">
		SELECT * FROM qtfund.TFEE WHERE  ROWNUM = 1  
		<include refid="paramSql"></include>
	</select>
	
	<select id="list" parameterMap="paramIdTfee" resultMap="resultTbTfee">
		<if test="pageflag==true">
			SELECT * FROM (
				SELECT A.*, ROWNUM RN FROM
				(
					SELECT * FROM qtfund.TFEE WHERE 1=1
					<include refid="paramSql"></include>
				) A WHERE ROWNUM &lt;= #{curPage}*#{pageSize}
				) WHERE RN  &gt;=
			(#{curPage}-1)*#{pageSize}
		</if>
		<if test="pageBlag==false">
			SELECT * FROM qtfund.TFEE
			WHERE 1=1
			<include refid="paramSql"></include>
		</if>
	</select>
	
	<select id="listCount" parameterMap="paramIdTfee" resultType="Integer">
				SELECT count(1) as count FROM qtfund.TFEE
				WHERE 1=1 
				<include refid="paramSql"></include>
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterMap="paramIdTfee" timeout="1000"  >
		INSERT INTO 
		qtfund.TFEE(
FL_FEERATE,
		FS_FEENAME,
		FS_FEEMODE,
		FS_FEEFROM,
		FL_FEE,
		FS_SERFEE,
		FL_FEEMIN,
		FL_FEEMAX,
		FL_FEEPERIOD,
		FS_MODUID,
		FS_MODTIME,
				FS_FEEID
		
		)
		VALUES(		#{flFeerate},
				#{fsFeename},
				#{fsFeemode},
				#{fsFeefrom},
				#{flFee},
				#{fsSerfee},
				#{flFeemin},
				#{flFeemax},
				#{flFeeperiod},
				#{fsModuid},
				#{fsModtime},
		
#{fsFeeid})
	</insert>
	
	<!-- 修改 -->
	<update id="update"  timeout="1000" >
		UPDATE qtfund.TFEE 
		<trim prefix="SET" prefixOverrides="SET ,">
		<if test="flFeerate !=null and flFeerate !=''">
			,FL_FEERATE = #{flFeerate}  
		</if>
		<if test="fsFeename !=null and fsFeename !=''">
			,FS_FEENAME = #{fsFeename}  
		</if>
		<if test="fsFeemode !=null and fsFeemode !=''">
			,FS_FEEMODE = #{fsFeemode}  
		</if>
		<if test="fsFeefrom !=null and fsFeefrom !=''">
			,FS_FEEFROM = #{fsFeefrom}  
		</if>
		<if test="flFee !=null and flFee !=''">
			,FL_FEE = #{flFee}  
		</if>
		<if test="fsSerfee !=null and fsSerfee !=''">
			,FS_SERFEE = #{fsSerfee}  
		</if>
		<if test="flFeemin !=null and flFeemin !=''">
			,FL_FEEMIN = #{flFeemin}  
		</if>
		<if test="flFeemax !=null and flFeemax !=''">
			,FL_FEEMAX = #{flFeemax}  
		</if>
		<if test="flFeeperiod !=null and flFeeperiod !=''">
			,FL_FEEPERIOD = #{flFeeperiod}  
		</if>
		<if test="fsModuid !=null and fsModuid !=''">
			,FS_MODUID = #{fsModuid}  
		</if>
		<if test="fsModtime !=null and fsModtime !=''">
			,FS_MODTIME = #{fsModtime}  
		</if>
		<if test="fsFeeid !=null and fsFeeid !=''">
			,FS_FEEID = #{fsFeeid}  
		</if>
		</trim>
		WHERE 1=1
		<include refid="paramSql"></include>
	</update>
	
</mapper>